html {
  background-color: black;
}

#picture {
  text-align: center;
}

#bodyText {
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 40pt;
}

h2 {
  font-size: 10pt;
}
